<%- include("partials/header.ejs") %>

<header>
    <div class="d-flex flex-wrap justify-content-center py-3">
        <a href="/" class="logo d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="mx-2 bi bi-book"
                viewBox="0 0 16 16">
                <path
                    d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
            </svg>
            <span class="logo">Lost In Poetry</span>
        </a>

        <ul class="nav nav-pills mx-2">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/random" class="nav-link active">Get Random</a></li>
        </ul>
    </div>

    <div class="px-4 py-5 mb-5 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
            class="d-block mx-auto mb-4 bi bi-book" viewBox="0 0 16 16">
            <path
                d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
        </svg>
        <h1>Lost In Poetry</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Refresh the page to get another random poem. Maybe the next one will be your new
                favourite one.</p>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <% if(locals.poem){%>
            <div class="col-sm-6 my-3 mb-sm-0">
                <div class="card text-center">
                    <div class="card-body">
                        <h2 class="my-3"><%= poem.title %></h2>
                        <h6 class="card-text mt-3 mb-5"><%= poem.author %></h6>
                        <% for(let i = 0; i < poem.lines.length; i++){ %>
                        <p class="card-text my-2"><%= poem.lines[i] %></p>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</main>

<%- include("partials/footer.ejs") %>